body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: 18pt;
    font-weight:400;
    font-display: auto;
    font-variant: normal;
    max-width: max-content;
    max-height: max-content;
    color: purple;
    text-align: left;
    text-indent: 1px;
    margin: 0px;
    /*background-image: linear-gradient(to right, rgb(185, 161, 216), coral);
    animation: pulse 5s infinite;*/
    animation-name: pulse;
    animation-duration: 25s; 
    animation-timing-function: linear; 
    animation-delay: 0s;
    animation-direction: alternate;  
    animation-iteration-count: infinite; 
}

@keyframes pulse {
    0% {
        background-image: linear-gradient(to right, rgb(176, 147, 214), coral);
    }
    25% {
        background-image: linear-gradient(to right, rgb(185, 161, 216), rgb(185, 161, 216), rgb(192, 175, 214), rgb(247, 160, 128),rgb(247, 160, 128),rgb(247, 160, 128),rgb(192, 175, 214));
    }
    35% {
        background-image: linear-gradient(to right, rgb(192, 175, 214), rgb(192, 175, 214), rgb(247, 160, 128), rgb(247, 160, 128),rgb(247, 160, 128),rgb(192, 175, 214),rgb(192, 175, 214));
    }
    50%{
        background-image: linear-gradient(to right, rgb(192, 175, 214), rgb(250, 146, 108), rgb(247, 160, 128), rgb(247, 160, 128),rgb(247, 160, 128),rgb(192, 175, 214),rgb(185, 161, 216));
    }
    60% {
        background-image: linear-gradient(to right, rgb(247, 160, 128), rgb(250, 146, 108),rgb(250, 146, 108),rgb(192, 175, 214),rgb(185, 161, 216),rgb(185, 161, 216));
    }
    75% {
        background-image: linear-gradient(to right, rgb(250, 146, 108), rgb(250, 146, 108),rgb(250, 146, 108),rgb(185, 161, 216),rgb(185, 161, 216),rgb(185, 161, 216));        
    }
    100% {
        background-image: linear-gradient(to right, coral, rgb(185, 161, 216));
    }
}

section{
    max-width: 90%;
    margin:0 auto;
}

div{
    margin-top: 20px;
    width: auto;
    height: auto;
    position: relative;
    float: left;
}

div#topo{
    width: 100%;
    text-shadow: 3px 3px 5px rgb(132, 77, 204);
    font-size: 300%;
    display: inline-flex;
}

div#titulo{
    width: 100%;
    margin-top: 45px;
    margin-left: 20px;
}

div#titulo:hover{
    cursor: pointer;
    animation: nudge 5s linear infinite alternate;
}

@keyframes nudge {
    0%, 100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(100px, 0);
    }

    80% {
        transform: translate(-45px, 0);
    }
}

.esconder{
    display: none;
}

.central{
    text-align: center;
    justify-content: center;
}

.txt-categoria{
    /*text-decoration: underline wavy coral;*/
    text-decoration-line: underline;
	text-decoration-color: purple; 
    text-decoration-style: solid;
    text-decoration-thickness: 2px; 
    font-size:40pt;
    font-style:oblique;
}

.txt-categoria:hover{
    cursor: pointer;
    animation: nudge 5s linear infinite alternate;
}

.bd-parc-redonda{
    border-radius: 35px 0 35px 0;
}

.bd-traco-roxa{
    border: 2px dashed purple;
}

.mg-tp-20{
    margin-top: 20px;
}

.mg-rg-20{
    margin-right: 20px;
}

.toast {
    opacity: 1;
    transform: translateY(0);
    animation: fade-in 1.25s ease-in;

    /* Replace is the default value */
    /* for animation-composition
    animation-composition: replace; */
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
}

div#titulo span:hover{
    display: inline-flex;
}

div.img{
    display: grid;
    opacity: 0.7;
}

div.txt{
    margin-right: 10px;
    width: auto;
    max-width: fit-content;
}

div.link{
    display: inline-block;
    justify-self: center;
    text-align: center;
    margin-left: 10px;
    width: 30%;
    max-width: fit-content;
}

div.img-02{
    display: grid;
    grid-template-columns: 80% 65%;
    grid-template-rows: 50% 50%;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    width: 35%;
    margin-left: 10px;
    height: 500px;
    opacity: 0.7;
}

img.lateral-01{
    position: absolute;
    right: 0;
    width: 75%;
    height: 50%;
}

img.lateral-02{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 75%;
    height: 45%;
}

img.lateral-03{
    width: 90%; 
    height: 95%;
}

img.interna{
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 15px;
    margin-top: 15px;
    width: 35%;
    height: 25%;
    border: 2px dashed purple;
    border-radius: 85px;
    opacity: 0.65;
}

img.logo{
    width: 100%;
    height: 90%;
    border: 2px dashed purple;
    border-radius: 45%;
    transition: transform 2s;
}

img.logo:hover{
    transform: rotateY(360deg);
    cursor: pointer;
}

img.icone{
    width: 45%;
    cursor: pointer;
}

div.cx-01{
    padding: 18px 13px 18px 13px;
    border-top: 3px dashed coral;
    border-right: 0;
    border-bottom: 0;
    border-left: 2px dashed coral;
    box-shadow: 2px 2px 0 0;
    height: 50%;
    margin-bottom: 20px;
    text-align: justify;

    background-image: linear-gradient(to bottom right, rgb(233, 171, 146), rgb(223, 207, 200));
}

div.cx-02{
    padding: 18px 13px 18px 13px;
    border-top: 2px dashed rgb(159, 124, 206);
    border-right: 0;
    border-bottom: 0;
    border-left: 2px dashed rgb(159, 124, 206);
    box-shadow: 2px 2px 0 0;
    width: 60%;
    height: 50%;
    margin-bottom: 20px;
    text-align: justify;

    background-image: linear-gradient(to bottom right, rgb(228, 214, 245), rgb(190, 172, 214));
}

div#txt-habilidades{
    width: 60%;
}

div.rodape{
    /*display: flex;
    justify-content: center;*/
    position: static;
    border-top: 2px dashed purple;
    background-color: purple;
    color: rgb(190, 172, 214);
    font-size: 13pt;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

hr {
    width: 100%;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: thick double rgba(255, 255, 255, 0);
    float: left;
}

hr::after{
    content: "----- </> -----";
    display: flex;
    justify-content: center;
    font-size: 23pt;
    position: relative;
    top: 10px;
    padding: 0 0.25em;
    background: rgba(255, 255, 255, 0);
}

span.codesymb{
    position: relative; 
    float: left;
    font-size: 27pt;
    top: -10px;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    z-index: 99999;
}

nav.menu{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    width: auto;
    /*top: 0;*/
}

ul {
    /*display: block;*/
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

ul.horizontal {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-width: 75%;
    background-color: rgba(128, 0, 128, 0.699);
    backdrop-filter: blur(20px) saturate(1.7);
    border-top-right-radius: 15%;
    border-top-left-radius: 15%;
    border-bottom-right-radius: 15%;
    border-bottom-left-radius: 15%;
}

ul.horizontal li {
    float: left;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

a {
    color: inherit;
    background-color: transparent;
    font-weight: 700;
}

a.linkrodape{
    display: block;
    width: auto;
    margin-top: 0;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
/*
ul.horizontal li a.active {
    background-color: rgb(176, 143, 221, 1);
}*/

ul.horizontal li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: rgb(236, 181, 161);
    text-shadow: 1px 1px 3px rgb(231, 169, 146);
}

ul.horizontal li a:hover{
    opacity: 0.9;
    color: rgb(231, 190, 175);
    text-decoration-line: underline;
    text-decoration-style: dashed; 

    border-top: 1px solid purple;
    border-bottom: 1px solid purple;
    border-right: 1px solid purple;
    border-left: 1px solid purple;
    background-color: rgb(128, 0, 128);
    border-radius: 35%;
}