body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: 18pt;
    font-weight:400;
    font-display: auto;
    font-variant: normal;
    max-width: max-content;
    max-height: max-content;
    color: purple;
    text-align: left;
    text-indent: 1px;
    margin: 0px;
    
    background-image: linear-gradient(to right, rgb(185, 161, 216), coral);
}

section{
    max-width: 90%;
    margin:0 auto;
}

div{
    margin-top: 20px;
    width: auto;
    height: auto;
    position: relative;
    float: left;
}

div#principal{
    width: 100%;
    text-shadow: 3px 3px 5px rgb(132, 77, 204);
    font-size: 300%;
    display: inline-flex;
}

div#titulo{
    width: 100%;
    margin-left: 20px;
}

.esconder{
    display: none;
}

.central{
    text-align: center;
    justify-content: center;
}

.txt-categoria{
    /*text-decoration: underline wavy coral;*/
    text-decoration-line: underline;
	text-decoration-color: purple; 
    text-decoration-style: solid;
    text-decoration-thickness: 2px; 
}

div#titulo span:hover{
    display: inline-flex;
}

div.img{
    display: grid;
    opacity: 0.7;
}

div.img-02{
    display: grid;
    grid-template-columns: 80% 65%;
    grid-template-rows: 50% 50%;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    width: 35%;
    margin-left: 10px;
    height: 500px;
    width: 35%;
    margin-left: 10px;
    opacity: 0.7;
}

img.lateral-01{
    position: absolute;
    right: 0;
    width: 75%;
    height: 50%;
    border: 2px dashed purple;
    border-radius: 0;
}

img.lateral-02{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 75%;
    height: 45%;
    border: 2px dashed purple;
    border-radius: 0;
}

img.interna{
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 15px;
    margin-top: 15px;
    width: 35%;
    height: 25%;
    border: 2px dashed purple;
    border-radius: 85px;
    opacity: 0.65;
}

img.logo{
    width: 100%;
    height: 90%;
    border: 2px dashed purple;
    border-radius: 45%;
    transition: transform 2s;
}

img.logo:hover{
    transform: rotateY(360deg);
    cursor: pointer;
}

img.icone{
    width: 3.5%;
    cursor: pointer;
}

div.cx-01{
    padding: 18px 13px 18px 13px;
    border-top: 3px solid coral;
    border-right: 2px solid coral;
    border-bottom: 3px solid coral;
    border-left: 2px solid coral;
    border-radius: 10%;
    box-shadow: 2px 2px 3px 3px;
    width: 100%;
    height: 50%;
    margin-bottom: 20px;
    text-align: justify;

    background-image: linear-gradient(to bottom right, rgb(233, 171, 146), rgb(223, 207, 200));
}

div.cx-02{
    padding: 18px 13px 18px 13px;
    border-top: 0;
    border-right: 2px dashed rgb(159, 124, 206);
    border-bottom: 0;
    border-left: 2px dashed rgb(159, 124, 206);
    border-radius: 3px;
    box-shadow: 2px 2px 3px 3px;
    width: 60%;
    height: 50%;
    margin-bottom: 20px;
    text-align: justify;

    background-image: linear-gradient(to bottom right, rgb(228, 214, 245), rgb(190, 172, 214));
}

div.rodape{
    /*display: flex;
    justify-content: center;*/
    position: static;
    border-top: 2px dashed purple;
    background-color: purple;
    color: rgb(190, 172, 214);
    font-size: 16pt;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

hr {
    width: 100%;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: thick double rgba(255, 255, 255, 0);
    float: left;
}

hr::after{
    content: "----- </> -----";
    display: flex;
    justify-content: center;
    font-size: 23pt;
    position: relative;
    top: 10px;
    padding: 0 0.25em;
    background: rgba(255, 255, 255, 0);
}

span.codesymb{
    position: relative; 
    float: left;
    font-size: 27pt;
    top: -10px;
}

nav.menu{
    position: static;
    display: flex;
    justify-content: center;
    margin: auto;
    width: auto;
    background-color: purple;
    /*top: 0;*/
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

ul.horizontal {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-left: 1px solid purple;
    /*box-shadow: 1px 1px rgb(231, 168, 145);*/
}

ul.horizontal li {
    float: left;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

a {
    color: inherit;
    background-color: transparent;
    font-weight: 700;
    
}

a.linkrodape{
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10px;
    margin-left: 10px;
}
/*
ul.horizontal li a.active {
    background-color: rgb(176, 143, 221, 1);
}*/

ul.horizontal li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-top: 1px solid purple;
    border-bottom: 1px solid purple;
    border-right: 1px solid purple;
    color: rgb(236, 181, 161);
    
    text-shadow: 1px 1px 3px rgb(231, 169, 146);
}

ul.horizontal li a:hover{
    opacity: 0.9;
    color: rgb(231, 190, 175);
    text-decoration-line: underline overline;
    text-decoration-style: solid; /*wavy;*/
}